@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
a.nav-link {
  color: black;
  text-decoration: none;
}
a.nav-link:hover {
  color: black; 
}
#menu .nav-link {
  color: black;
}
#menu .nav-link:hover {
  color: black; 
}

.title-h1{
  font-size: 50px;
  font-family: 'Playfair Display', serif;
}
.title-h4{
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}
.title-h6{
  font-family: 'Playfair Display', serif;
  font-size: 16px;
}
.title-carddes{
  font-family: 'Lora', serif;
  font-size: 12px;
}
.mb-6 {
  margin-bottom: 6rem;
}
.icon{
  width: 20px;
  height: 20px;
  margin-left: 5px;
  fill: none;
}
.img-fluid{
  width: auto !important;
  height: 900px !important;
}
@media (max-width: 576px) {
  .img-fluid {
    max-width: 350px !important; 
    height: auto !important; 
  }
}
.navbar-collapse{
  top: calc(100% + 10px);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.navbar-collapse.show{
  opacity: 1;
}
.navbar-toggler:focus{
  outline: none !important;
  box-shadow: none !important;
}
.navbar-toggler{
  border: none !important;
  font-size: 2rem !important;
}
.navbar-toggler:active{
  transform: scale(0.9);
}
.carousel-control-prev,
.carousel-control-next {
  height: 20%; 
  bottom: 10%;
  margin-top: 45%;
}
.custom-button {
  background-color: transparent;
  border: none;
}
.custom-button:active {
  transform: translateY(1px);
}

hr {
  position: relative;
  border: none;
  border-top: 1px solid gray; 
  height: 1px;
}
/* Стиль для псевдоэлемента, покрывающего черную половину линии */
hr::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%; 
  background-color: black; 
  z-index: 1; 
}

/* Стиль для линии при переходе на страницу Wishlist */
.wishlist-line {
  position: relative;
  border: none;
  border-top: 1px solid gray;
  height: 1px;
}

/* Стиль для второй части линии на странице Wishlist */
.wishlist-line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%; 
  height: 100%;
  width: 50%; 
  background-color: black; 
  z-index: 1;
}

/* Таблица */
.product-thumb {
  width: 20%; 
}

.product-inf {
  width: 30%; 
}

.product-quantity {
  width: 15%; 
}

.product-total-price {
  width: 20%; 
}

.product-action {
  width: 15%;
}

.input-group.justify-content-center {
  flex-wrap: nowrap;
}

.bg-dark-subtle {
  background-color: #343a40;
}
.bg-danger {
  background-color: #dc3545;
}
.custom-select-width {
  width: 100px;
}

.rectangular-button {
  border-radius: 0 !important; 
}

.cart-notification {
  position: fixed !important;
  background-color: #343a40 !important;
  bottom: 20px;
  right: 20px;
  color: white !important;
  padding: 15px;
  border-radius: 5px;
  z-index: 9999;
}

.text-break {
  word-wrap: break-word !important;
  word-break: break-word !important;
}

.icon-nav {
  width: 50px; 
  height: 25px;
}

/* Стили для корневого элемента Vue */
div#app {
  display: flex;
  flex-direction: column;
  min-height: 110vh; 
}

.section {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.badge {
  bottom: 10px;       
  right: 12px;         
  background-color: black; 
}

.bg-image {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.col-lg-8 {
  position: relative;
  padding: 0; 
}

.content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-overlay h1, .content-overlay ul {
  z-index: 2; 
  text-align: center;
}

.img-fluid {
  width: 100%;
  height: auto;
  display: block;
}
